@model Dnn.Modules.DnnJobBoard.Models.Item

    @using DotNetNuke.Web.Mvc.Helpers

    @using DotNetNuke.Web.Client.ClientResourceManagement
    @{
        ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/DnnJobBoard/css/innojobboard.css");
    }	
	
    @using DotNetNuke.Web.Client.ClientResourceManagement
    @{
        // here I check the module context to know if the module is editable or not
        // fix required, doesn't check superusers properly --- Dnn.ModuleContext.IsSuperUser isn't exposed in MVC (only SPA token)       
        // var hasAdminRights = (this.User.IsInRole("Administrators") || this.User.IsInRole("SuperUsers"));
        //var hasAdminRights = this.User.IsInRole("Administrators");
        //if (hasAdminRights)
        //{
            ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/DnnJobBoard/css/innojobboard-theme.css");
        //}
        //else
        //{
        //   ClientResourceManager.RegisterStyleSheet(Dnn.DnnPage, "~/DesktopModules/MVC/INNO_Careers/css/innojobboard-application.css");
        //}
    }


<div id="Item-@Dnn.ModuleContext.ModuleId">
        <div class="row">
            <div class="col-sm-12">
                <p><small><a href="@Url.Action("Index")">&lsaquo; @Dnn.LocalizeString("ReturnToList")</a></small></p>
                
                <h1>
                    @Html.DisplayTextFor(model => model.JobTitle)
                    <button class="btn btn-info">&#9998; Edit</button>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">&times; Delete</button>
                </h1>
                <h5 class="text-uppercase">Posted @Html.DisplayTextFor(model => model.PostingDate)</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 inno-jb-detail-main">
                <div class="job-summary">
                    <p class="lead">@Html.DisplayTextFor(model => model.JobSummary)</p>
                    
                <p>@Html.DisplayTextFor(model => model.AdditionalInfo)</p>
                </div>
                <div class="inno-careers-experience">
                    <h4>@Dnn.LocalizeString("lblRequiredExperience")</h4>
                   <p>@Html.DisplayTextFor(model => model.RequiredExperience)</p>
                </div>
                <div class="inno-careers-qualifications">
                    <h4>@Dnn.LocalizeString("lblRequiredQualifications")</h4>
                    <p>@Html.DisplayTextFor(model => model.RequiredQualifications)</p>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 inno-jb-detail-sidebar">
                <div class="job-details panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Job Details</h3>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <div class="fieldset-row">
                               <label for="jobOffice">@Dnn.LocalizeString("lblOffice"):</label>
                                <span>@Html.DisplayTextFor(model => model.Office)</span>
                            </div>
                            <div class="fieldset-row">
                               <label for="jobPostingNumber">@Dnn.LocalizeString("lblPostingNumber"):</label>
                                <span>@Html.DisplayTextFor(model => model.PostingNumber)</span>
                            </div>
                            <div class="fieldset-row">
                                <label for="jobPostingCloseDate">@Dnn.LocalizeString("lblPostingCloseDate"):</label>
                                <span>@Html.DisplayTextFor(model => model.PostingCloseDate)</span>
                            </div>
                            <div class="fieldset-row">
                               <label for="jobShiftInfo">@Dnn.LocalizeString("lblShiftInfo"):</label>
                                <span>@Html.DisplayTextFor(model => model.ShiftInfo)</span>
                            </div>
                            <div class="fieldset-row">
                                <label for="jobWorkHours">@Dnn.LocalizeString("lblWorkHours"):</label>
                               <span>@Html.DisplayTextFor(model => model.WorkHours)</span>
                            </div>
                            <div class="fieldset-row">
                               <label for="jobBenefits">@Dnn.LocalizeString("lblBenefits"):</label>
                                <span>@Html.DisplayTextFor(model => model.Benefits)</span>
                            </div>
							
							<div class="fieldset-row">
							<label for="jobEmploymentTerm">@Dnn.LocalizeString("lblEmploymentTerms"):</label>
								<span>@Html.DisplayTextFor(model => model.EmploymentTerm)</span>
							</div>
							
								<div class="fieldset-row">
									<label for="jobRegion">@Dnn.LocalizeString("lblRegion"):</label>
									<span>@Html.DisplayTextFor(model => model.Region)</span>
							</div>
							
							
								<div class="fieldset-row">
							<label for="jobRateOfPay">@Dnn.LocalizeString("lblRateOfPay"):</label>
							<span>@Html.DisplayTextFor(model => model.RateOfPay)</span>
							</div>
							
							
								<div class="fieldset-row">
							<label for="jobDepartment">@Dnn.LocalizeString("lblDepartment"):</label>
               <span>@Html.DisplayTextFor(model => model.Department)</span>
							</div>
							
							
								<div class="fieldset-row">
							   <label for="jobAffiliation">@Dnn.LocalizeString("lblJobAffiliation"):</label>
                    <span>@Html.DisplayTextFor(model => model.Affiliation)</span>
							</div>
							
							<div class="fieldset-row">
							<label for="numberOfOpenings">@Dnn.LocalizeString("lblNumberOfOpenings"):</label>
               <span>@Html.DisplayTextFor(model => model.NumberOfOpenings)</span>
							</div>
							
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

      
            @Html.HiddenFor(m => m.ModuleId)

	
	
</div>

