@model Dnn.Modules.DnnJobBoard.Models.Item
@using DotNetNuke.Web.Mvc.Helpers

<div id="Item-@Dnn.ModuleContext.ModuleId">
        <div class="row">
            <div class="col-sm-12">
                <p><small><a href="@Url.Action("Index")">&lsaquo; @Dnn.LocalizeString("ReturnToList")</a></small></p>                
                <h1>
                    @Html.DisplayTextFor(model => model.JobTitle)

                    @if (Dnn.ModuleContext.IsEditable)
                    {
                        <a href="@Url.Action("Edit", "Item", new { ctl = "Edit", itemId = Model.ItemId })" class="btn btn-info">@Dnn.LocalizeString("EditItem")</a>                        
                        
                            <a href="javascript:confirmDelete(@Model.ItemId)"  class="btn btn-danger">@Dnn.LocalizeString("DeleteItem")</a>
                       
                    }
                </h1>
                <h6>Posted on: @Html.DisplayTextFor(model => model.PostingDate)</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7 inno-jb-detail-main">
                <div class="job-summary">
                    <p class="lead">@Html.DisplayTextFor(model => model.JobSummary)</p>
                    
                <p>@Html.DisplayTextFor(model => model.AdditionalInfo)</p>
				<hr />
                </div>
				@if(!string.IsNullOrEmpty(Model.RequiredExperience)) {
                <div class="inno-careers-experience">
                    <h4>@Dnn.LocalizeString("lblRequiredExperience")</h4>
                   <p>@Html.DisplayTextFor(model => model.RequiredExperience)</p>
				   <hr />
                </div>
				}
				else {
				}
				@if(!string.IsNullOrEmpty(Model.RequiredQualifications)) {
                <div class="inno-careers-qualifications">
                    <h4>@Dnn.LocalizeString("lblRequiredQualifications")</h4>
                    <p>@Html.DisplayTextFor(model => model.RequiredQualifications)</p>
					
                </div>
				}
				else {
					// show nothing
					}
            </div>
            <div class="col-sm-4 col-sm-offset-1 inno-jb-detail-sidebar">
                <div class="job-details panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Job Details</h3>
                    </div>
                    <div class="panel-body">
                        <fieldset>
						
						<div class="fieldset-row">
                                <label for="jobPostingCloseDate">@Dnn.LocalizeString("lblPostingCloseDate"):</label>
                                <span>@Html.DisplayTextFor(model => model.PostingCloseDate)</span>
                            </div>
							
						@if(!string.IsNullOrEmpty(Model.PostingNumber)) {
							<div class="fieldset-row">
                               <label for="jobPostingNumber">@Dnn.LocalizeString("lblPostingNumber"):</label>
                                <span>@Html.DisplayTextFor(model => model.PostingNumber)</span>
                            </div>
						}
						else
						{
							// show nothing
						}
		
					@if(!string.IsNullOrEmpty(Model.Region)) {
							<div class="fieldset-row">
									<label for="jobRegion">@Dnn.LocalizeString("lblRegion"):</label>
									<span>@Html.DisplayTextFor(model => model.Region)</span>
							</div>
						}
						else
						{
							// show nothing
						}							
							
				@if(!string.IsNullOrEmpty(Model.Region)) {
							<div class="fieldset-row">
                               <label for="jobOffice">@Dnn.LocalizeString("lblOffice"):</label>
                                <span>@Html.DisplayTextFor(model => model.Office)</span>
                            </div>
						}
						else
						{
							// show nothing
						}	
															
				@if(!string.IsNullOrEmpty(Model.Department)) {
 							<div class="fieldset-row">
								<label for="jobDepartment">@Dnn.LocalizeString("lblDepartment"):</label>
               					<span>@Html.DisplayTextFor(model => model.Department)</span>
							</div>
						}
						else
						{
							// show nothing
						}	                            
 
 				@if(!string.IsNullOrEmpty(Model.ShiftInfo)) {
 							<div class="fieldset-row">
                               <label for="jobShiftInfo">@Dnn.LocalizeString("lblShiftInfo"):</label>
                                <span>@Html.DisplayTextFor(model => model.ShiftInfo)</span>
                            </div>
						}
						else
						{
							// show nothing
						}                           
 
 				@if(!string.IsNullOrEmpty(Model.WorkHours)) {
 							<div class="fieldset-row">
                                <label for="jobWorkHours">@Dnn.LocalizeString("lblWorkHours"):</label>
                               <span>@Html.DisplayTextFor(model => model.WorkHours)</span>
                            </div>
						}
						else
						{
							// show nothing
						}                             
                            
 						@if(!string.IsNullOrEmpty(Model.Benefits)) {
 							<div class="fieldset-row">
                               <label for="jobBenefits">@Dnn.LocalizeString("lblBenefits"):</label>
                                <span>@Html.DisplayTextFor(model => model.Benefits)</span>
                            </div>
						}
						else
						{
							// show nothing
						}                               

 						@if(!string.IsNullOrEmpty(Model.EmploymentTerm)) {
 							<div class="fieldset-row">
							<label for="jobEmploymentTerm">@Dnn.LocalizeString("lblEmploymentTerms"):</label>
								<span>@Html.DisplayTextFor(model => model.EmploymentTerm)</span>
							</div>
						}
						else
						{
							// show nothing
						}                              
							
 						@if(!string.IsNullOrEmpty(Model.RateOfPay)) {
							<div class="fieldset-row">
								<label for="jobRateOfPay">@Dnn.LocalizeString("lblRateOfPay"):</label>
								<span>@Html.DisplayTextFor(model => model.RateOfPay)</span>
							</div>
							
						}
						else
						{
							// show nothing
						}   
							
 						@if(!string.IsNullOrEmpty(Model.Affiliation)) {
							<div class="fieldset-row">
							   <label for="jobAffiliation">@Dnn.LocalizeString("lblJobAffiliation"):</label>
                    			<span>@Html.DisplayTextFor(model => model.Affiliation)</span>
							</div>
						}
						else
						{
							// show nothing
						}   
													
 						@if(Model.NumberOfOpenings > 0) {
							<div class="fieldset-row">
							<label for="numberOfOpenings">@Dnn.LocalizeString("lblNumberOfOpenings"):</label>
               <span>@Html.DisplayTextFor(model => model.NumberOfOpenings)</span>
							</div>							
								
						}
						else
						{
							// show nothing
						}   
														
							
								
							
							
							
								
							

							
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>

      
            @Html.HiddenFor(m => m.ModuleId)

	
	
</div>

